---
layout: home
title: Latest Posts
description: "The personal blog of Bruce Becker."
tags: [Bruce, Becker, personal, computing, science, applications, blog, Catania, South, Africa, Cape, Town]
---
	{% for post in paginator.posts %}
		{% assign ert = post.content | strip_html | number_of_words | divided_by:180 %}
		{% assign ertremainder = post.content | strip_html | number_of_words | modulo:180 %}
		{% if ertremainder >= 90 %}
			{% assign readtime = ert | plus:1 %}
		{% else %}
			{% assign readtime = ert %}
		{% endif %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}

  <div class="row">
      <article class="post">
         <header class="post-header">
              <h1 class="post-title text-center  bordered-bottom">
                  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
						</h1>
              <div class="post-info text-center">
                  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
                  in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime == 1 %}1 minute read{% endif %}{% if readtime > 1 %}{{ readtime }} minutes read{% endif %}{% if readtime == 0 %}Less than 1 minute read{% endif %}</span>{% endif %}
              </div> <!-- post-info -->
          </header>
          <div class="post-body bordered-bottom">
          {% assign excerptsize = post.excerpt | number_of_words %}
          {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}</p>&hellip;{% else %}
              <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
              {% if post.description %} <!-- set the tooltip -->
            <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link">
                <i class="icon-link"></i> read more...
            </a>
            {% else %}
            <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link">>
                <i class="icon-link"></i> read more...
            </a>
            {% endif %} <!-- tooltip -->
          </div> <!-- post-body -->
      </article>
  </div> <!-- row -->
{% endfor %} <!--- looop over paginated posts -->

<!--- the paginator links --->
<!-- Pagination links -->
	<div class="pagination text-center">
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	  {% endif %}

	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
	  {% else %}
	    <span class="next ">Next</span>
	  {% endif %}
	</div>
