{% if page.image.feature %}<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}

{% if page.headline %}
    <div class="inner">
        <div class="container-fluid">
            <a class="brand light" href="{{ site.url }}" role="banner" itemprop="url">

                {% if site.logo %}<img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />{% endif %}

            <h1 class="blog-title light" itemprop="name">
                {{ site.title }}
            </h1>

            </a>
            <h2 class="blog-description light bordered bordered-top" itemprop="description">
                {{ page.headline }}
            </h2>
        </div>
    </div>
    {% else %}
    <div class="inner">
        <div class="container">
            <a class="brand" href="{{ site.url }}" role="banner" itemprop="url">

                {% if site.logo %}<img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />{% endif %}

            <h1 class="blog-title light" itemprop="name">
                {{ site.title }}
            </h1>

            </a>
        </div>
    </div>
  {% endif %}
</header>
