<div class="post-author text-center">
                            

                                
                                    <img src="{{site.url}}/images/{{ site.owner.avatar }}" itemprop="image" class="post-avatar img-circle img-responsive"/>
                                
                                <h4 class="bordered-bottom">{{ site.owner.name }}</h4>
                                <p>{{ site.owner.description }}</p>
                            
                        </div>