<div class="post-author text-center">
	<img src="{{site.url}}/images/{{ site.author.picture }}" alt="{{ site.author.name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive" />
	<h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">
		By <span itemprop="name" class="fn"><a href="{{ site.url }}/about" title="About {{ site.author.name }}" itemprop="url">{{ site.author.name }}</a></span>
	</h4>
	<p>{{ site.author.description }}</p>
</div>