<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% if page.image.feature %}<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}
    <div class="inner">
        <div class="container">
            <a class="brand light" href="{{ site.url }}" role="banner" itemprop="url">
                <img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />
            <h1 class="blog-title light" itemprop="name">
                {{ site.title }}
            </h1>
            </a>
            <ul class="menu-items nav nav-pills nav-stacked">
              <li role="presentation"><a href="{{ site.url }}">Home</a></li>
              <li role="presentation"><a href="{{ site.url }}/presentations">Presentations</a></li>
              <li role="presentation"><a href="{{ site.url }}/projects">Projects</a></li>
            </ul>
        </div>
    </div>
</header>
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
    <div class="container">
            <div class="page-body" itemprop="description">
            {{ content }}
          </div> <!-- page-body -->
    </div> <!-- container -->
</div> <!-- main -->
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
