<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% include header.html %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
    <div class="container">

        <div class="row">
            <article class="page col-md-10 col-md-offset-1">
                    <div class="post-body" itemprop="description">
                        {{ content }}
                    </div>    
            </article>
        </div>
    </div>
</div>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>