<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% include header.html %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
    <div class="container">
        <div class="row">
            <div class="page-body col-md-10 col-md-offset-1" itemprop="description">
                {{ content }}
            </div>    
        </div>
    </div>
</div>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>